<!DOCTYPE html>
<html lang="en">

<head>
    <title>TableScapes {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" , initial-scale=1">
    <!-- linked to Tachyons if we want it -->
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block meta %}{% endblock %}
</head>

<body>
    <header class="flex justify-between bb light-gray bg-navy">
        <div class="f3 flex items-center pa3">
            <a href="{% url 'index' %}" class="link light-gray underline-hover">TableScapes</a>
        </div>
        <div class="f6 flex items-center pa3">
            {% if user.is_authenticated %}
            <a href="{% url 'auth_logout' %}" class="link light-gray underline-hover">Logout {{ user.username }}</a>
        {% else %}
            <a href="{% url 'auth_login' %}" class="link light-gray underline-hover">Login/Register</a>
            {% endif %}
        </div>
    </header>
    <div class="pa3 bg-light-gray">{% block content %}{% endblock %}</div>
</body>

</html>