<!DOCTYPE html>
<html lang="en">

<head>
    <title>TableScapes {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" , initial-scale=1">
    {% comment %} <!-- linked to Tachyons if we want it -->
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
    <!-- Add additional CSS in static file --> {% endcomment %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block meta %}{% endblock %}
</head>

<body>
    <header>
        <div class="hyper_links">
            <a href="{% url 'index' %}" class="link light-gray underline-hover">TableScapes</a>
            {% if user.is_authenticated %}
            <a href="{% url 'auth_logout' %}">Logout {{ user.username }}</a>
        {% else %}
            <a href="{% url 'auth_login' %}">Login/Register</a>
            {% endif %}
        </div>
    </header>
    <div>{% block content %}{% endblock %}</div>
</body>

</html>